.dropdown_frame {
  position: absolute;
}

#dropdown_list {
  width: calc(100vw / 2);
  min-height: 50px;
  background-color: rgb(19, 20, 22);
  color: var(--pripamy_text_color);

  border: 1px solid var(--border_color_grey);
  border-radius: 5px;
}

#dropdown_list ul {
  list-style-type: none;
  margin: 0px 15px 0px 15px;
  padding: 0;
}

#dropdown_list ul p {
  margin: 0;
  padding: 15px;

  cursor: pointer;
}

#dropdown_list li {
  border-bottom: 1px solid var(--border_color_grey);
}

#dropdown_list ul > li:last-child {
  border-bottom: none;
}

.channel_item:hover {
  background-color: var(--primary_color_black_hover);
}

.channel_item:active {
  background-color: var(--primary_color_black_active);
}

#dropdown_backpanel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0);
}
