#message_frame {
  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#message_frame_window {
  height: 100%;
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message_frame_navigation {
  height: 100%;
  width: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message_frame_navigation > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
