#message_textarea {
  min-height: 50px;
  overflow-y: hidden;
  resize: none;
  width: 50%;
  box-sizing: border-box;
  font-size: 2ch;
  padding: 10px;
  border-radius: 5px;

  background-color: rgb(19, 20, 22);
  color: rgb(204, 204, 207);
}

#message_textarea:focus {
  outline: none;
  border: 1px solid var(--discord_blue_color);
}

#message_frame_ch_selector {
  width: 50%;
}

#message_frame input {
  width: 90%;
  height: 25px;
  font-size: 1.7ch;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: rgb(19, 20, 22);
  color: rgb(204, 204, 207);
}

#message_frame input:focus {
  outline: none;
  border: 2px solid var(--discord_blue_color);
}

.message_frame_separator {
  height: 20px;
}

#nessage_buttons_group {
  width: 50%;
  height: 1.7rem;

  display: flex;
  justify-content: space-around;
}

#message_send_button {
  background-color: var(--discord_blue_color);
  color: rgb(230, 230, 230);

  border: 1px solid rgb(96, 96, 96);
  border: none;
  border-radius: 2px;

  cursor: pointer;
}

#message_send_button:active {
  background-color: var(--discord_blue_color_active);
}

#message_clear_button {
  border: 1px solid rgb(96, 96, 96);
  border-radius: 2px;

  cursor: pointer;

  color: rgb(230, 230, 230);
  background-color: var(--primary_color_black_hover);
}

#message_clear_button:active {
  background-color: var(--primary_color_black_active);
}
