.user_container {
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_container:hover {
  box-shadow: inset 0 0 0 2px var(--discord_blue_color);
}

.user_container h3 {
  margin: 0 20px 0 0;
}

.user_container p {
  margin: 5px 20px 5px 0;
}

.user_container:nth-child(odd) {
  background-color: var(--primary_color_black);
}

.user_container:nth-child(even) {
  background-color: var(--primary_color_black_hover);
}

.user_avatar {
  margin-left: 25px;
  margin-right: 25px;
}

.user_info_container {
  width: 100%;
}
