#users_list_container {
  width: 100%;

  flex: 1;
  min-height: 0;

  color: rgb(223, 223, 223);

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--discord_blue_color) rgba(0, 0, 0, 0);
}
