#embed_frame {
  min-height: 20%;
  min-width: 350px;

  display: flex;
}

#embed_color {
  width: 20px;
  height: 100%;

  border: 1px solid var(--border_color_grey);
  border-right: none;
  border-radius: 5px 0 0 5px;
}

#embed_contructor_frame {
  height: 100%;
  width: 100%;

  border: 1px solid var(--border_color_grey);
  border-radius: 0 5px 5px 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
}

#add_element_button {
  width: 100%;
  height: 25px;

  border-top: 1px 0px 0px 0px solid var(primary_color_black_hover);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0px 0px 5px 5px;
  outline: none;

  background-color: var(--primary_color_black);
}

#add_element_button:hover {
  background-color: var(--primary_color_black_hover);
}

#add_element_button:active {
  background-color: var(--primary_color_black_active);
}

#constructor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.embed_element {
  min-width: 100%;
}
